/*Background resmi verilecek css.  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0; margin: 0;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; /*Body için 16 px kullanılmış olacak.*/
    background: #fff;
    color: #333;
    line-height: 1.6; /*Yazılar arasındaki satır yüksekliği*/
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
}
p{
    margin: 1rem 0;
}
img{
    width: 100%;
}
.text-center {
    text-align: center;
}

/*navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8; /*Arka plandaki resmin gözükmesi için*/
    color: #fff; /*Sadece içerisindeki h1'i etkiler. Links için başka yerde tanımlanmalı*/
    position: fixed; /*Sabit kalması için...Fixed ile genişliğini kaybeder. İçerik kadar yer kaplar.*/
    /*Bu yüzden tekrar width özelliği kazandırılmalı.*/
    width: 100%;
    height: 70px;
    top:0 ;
    padding: 0 3rem; /*30px*/
}
.navbar a {
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 .5rem;
}
.navbar a:hover{
    border-bottom: 2px solid var(--warning);
}
.navbar ul{
    display: flex;
}
.navbar .logo {
    font-weight: 400; 
}
.navbar h1{
    font-size: 3rem;
}
.navbar span{
    color: var(--warning);
}

/*header*/
.main-header{
    background-image: url('../img/bg-1.jpeg');
    background-repeat: repeat; /*Tekrarlamayı yatayda dikeyde kapattık*/
    background-size: cover;
    background-position: center; /*Bu resimde resmin ortasını görmek için ortalandı.*/
    height: 100vh; /*Kullanıcı tarayıcısının yüksekliğine uyması için*/
    color: #fff;  
    position: relative;
}
/*Boşluk yok. Mainheader altındaki blog clasına sahip olan eleman olurdu eğer ki boşluk olsa..*/
/*Boşluk olmaması ile mainheader elementlerinden ayrıca blog class değeri olan elementi seç*/
.main-header.blog{
    background-image: url('../img/arka.jpg');
    height: 50vh;
}/*.main-header özellikleri hala aktif olacak ama boşluksuz .blog diyerek ezilecek olanları belirtiriz.*/

.main-header .content{
    display: flex;
    flex-direction: column; /*h1,p vs alt alta gelmesi için*/
    align-items: center;
    justify-content: center;
    text-align: center; /*Kendi alanlarında ortada olması için..*/
    height: 100%; /*İçerisinde bulunduğu conteiner kadar olmalı. (100vh)*/
}

.main-header::before{
    content: '';
    position: absolute; /*Nesne header'a göre konumlanacak. Bu yüzden .main-header'a position relative verildi.*/
    top: 0;
    left: 0; /*0 a 0'dan başlasın.*/
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6); /*Saydam zemin için*/
}
.main-header * { /*Bütün elemanlarına z-index verilmeli. Saydamlık yazılarada uygulanacaktır. Engellemek için..*/
    z-index: 5;
}
.main-header .content h1{
    font-size:5.5rem;
}
.main-header .content p{
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
}

/* icons */
.icons{
    padding: 30px;
}
.icons h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.icons i{
    background-color: var(--primary);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

/*about*/ 
/*Bu kısım flexbox'a ait değil, uygulamaya özel olduğu için h2 ve p burada işlenebilir.*/
.about{
    color: #fff;
}
.about h2{
    font-size: 4rem;
    font-weight: 400;
}

.about p {
    margin: 2rem 0;
}

/* gallery */
.gallery img:hover{
    cursor: pointer;
    opacity: 0.8; 
}

/* teams */
.teams img{
    border-radius: 50%;
}
.teams img:hover{
    opacity: 0.7;
}

/* contact */
.contact-form{
    width: 100%;
    padding: 2rem 0;
}
.contact-form label{
    display: block;
    margin-bottom: .5rem; /*5 px*/
}
.contact-form .form-control {
    margin-bottom: 1.5rem;
}
.contact-form input{
    width: 100%;
    padding: 5px;
    height: 40px;
    border: 1px solid #f5f5f5;
}
#contact{
    color:#fff;
}
.contact h2{
    font-size: 3rem;
}
.contact-form .btn{
    margin-top: 20px;
}

/* article */
.articles{
    padding: 3rem 5rem;
}
.article{
    margin-top: 1.5rem;
    color: #fff;
}


/* footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}
.footer a{
    color: var(--danger);
}
.footer a:hover{
    opacity: 0.7;
}
.footer .social a
{
    margin-right: 10px;
}

/* mobile */
@media(max-width:768px){
    html{ /*Sf 768 px ve altına indiğinde bütün yazıların rem'i 8px'e göre ayarlanır.*/
        font-size: 8px;
    }

    .navbar{
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a {
        padding: 10px;
        margin: 0 3px;
    }
    .teams img{
        width: 70%;
    }
}